@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Crimson Text", serif;
  font-style: normal;
}

.hero{
  background-image: url("./assets/beachhouse.jpeg");
  background-blend-mode:color;
  background-repeat: no-repeat;
}

@media (min-width:1280px) {
  .hero{
    background-size: cover;
  }
}

.about-details div{
  padding: 5px;
}


.form input[type="radio"]{
  appearance: none;
  border: 1px solid #1c8a99;
  border-radius: 99px;
  width: 20px;
  height: 20px;
  position: relative;
}

.form input[type="radio"]:checked:before{
  content: " ";
  color: #1c8a99;
  border-radius: 99px;
  width:11px;
  height: 11px;
  background-color: #1c8a99;
  position: absolute;
  top: 4px;
  left: 4px;
}

.form .radio{
  display: flex;
  gap: 5px; 
  margin-bottom: 15px;
  align-items: center;
}

.form .radio:nth-child(4){
  margin-bottom: 0px;
}

div.input{
  margin-top: 30px;
  display: grid;
}

div.input input{
  border-bottom: 1px solid #1c8a99;
  background-color: #ecf6f7;
  outline: none;
  padding-bottom: 4px;
  padding-top: 4px;
}